# .env
# Copyright (c) 2025 Timothy Bayode
# Licensed under the MIT License. See LICENSE file for details.

# RPC Endpoint URL
ARBITRUM_SEPOLIA_RPC=https://url-to-your-arb-sepolia-rpc-API

# Wallet 1
SENDER1_ADDRESS=0xSenderAddress1
SENDER1_PRIVATE_KEY=yourprivatekey1

# Wallet 2
SENDER2_ADDRESS=0xSenderAddress2
SENDER2_PRIVATE_KEY=yourprivatekey2

# Wallet 3
SENDER3_ADDRESS=0xSenderAddress3
SENDER3_PRIVATE_KEY=yourprivatekey3

# Wallet 4
SENDER4_ADDRESS=0xSenderAddress4
SENDER4_PRIVATE_KEY=yourprivatekey4

#You can add or remove as many sender wallets here in this same order

# Recipient
RECIPIENT=0xYourRecipientAddress
